XSD/ExportTypyDok.xsd

<?xml version="1.0" encoding="windows-1250"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	 <xsd:simpleType name="TDokRodz">
		<xsd:annotation>
			<xsd:documentation>Rodzaj dokumentu; S-sprzeda¿, Z-zakup, I-inny, R - rachunek</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1" />
			<xsd:enumeration value="S" />
			<xsd:enumeration value="Z" />
			<xsd:enumeration value="I" />
			<xsd:enumeration value="K" />
			<xsd:enumeration value="R" />
		</xsd:restriction>
	 </xsd:simpleType>
	 
	 <xsd:simpleType name="TDokUnia">
		<xsd:annotation>
			<xsd:documentation>
				Kod transakcji tylko dla DOKRODZ=S lub DOKRODZ=Z. W razie pominiêcia domyœlne jest Y dla zakupów i X dla sprzeda¿y.
				Y - Zakup krajowy
				K - Wewn¹trzwspólnotowe nabycie towarów
				F - Zakup us³ug uznanych za œwiadczone poza krajem 
				L - Import us³ug
				M - Nabycie towarów, gdy podatnikiem jest nabywca
				N - Import spe³niaj¹cy warunki art 33a ustawy”
				I - Import towarów spoza UE
				X - Sprzeda¿ krajowa
				B - Eksport towarów poza UE
				C - Wewn¹trzwspólnotowa dostawa towarów
				D - Eksport us³ug
				E - VAT nale¿ny od wewn¹trzwspólnotowego nabycia towarów [tu uwaga: taki zapis jest tworzony automatycznie, zwykle siê go nie przekazuje]
				G - VAT nale¿ny od importu us³ug [uwaga jak dla E]
				H - VAT nale¿ny od nabycia towarów, gdy podatnikiem jest nabywca [uwaga jak dla E]
				P - Opodatkowane œwiadczenie nieodp³atne
				R - Zakup RR
				T - VAT mar¿a
				Z - Taxi
				J - 
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1" />
			<xsd:enumeration value="Y" />
			<xsd:enumeration value="K" />
			<xsd:enumeration value="F" />
			<xsd:enumeration value="L" />
			<xsd:enumeration value="M" />
			<xsd:enumeration value="N" />
			<xsd:enumeration value="I" />
			<xsd:enumeration value="J" />
			<xsd:enumeration value="X" />
			<xsd:enumeration value="B" />
			<xsd:enumeration value="C" />
			<xsd:enumeration value="D" />
			<xsd:enumeration value="E" />
			<xsd:enumeration value="G" />			
			<xsd:enumeration value="H" />
			<xsd:enumeration value="P" />
			<xsd:enumeration value="R" />
			<xsd:enumeration value="T" />
			<xsd:enumeration value="Z" />
		</xsd:restriction>
	 </xsd:simpleType>
	
	<xsd:simpleType name="TDokNr">
		<xsd:annotation>
			<xsd:documentation>Numer dokumentu np. FV0001/AB/2008</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokNrEx">
		<xsd:annotation>
			<xsd:documentation>
				Prefix i ew postfiks numeru, np. FV/AB, obowi¹zkowe dla wszystkich dokumentów prócz kasowych. 
				Dokumenty z wspólnym DOKNR_EX maj¹ wspó³ny sposób ksiêgowania
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokOpis">
		<xsd:annotation>
			<xsd:documentation>
				Opis zdarzenia gospodarczego; jeœli niepodany - mo¿liwy do okreœlenia w parametrach programu odbieraj¹cego
				Dla dokumentów handlowych i ewidencji VAT maksymalna d³ugoœæ pola wynosi 60 znaków.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="100" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokPKWIU">
		<xsd:annotation>
			<xsd:documentation>				
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="40" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name= "TDataDok">
		<xsd:annotation>
			<xsd:documentation>Data dokumentu, obowi¹zkowe</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TFormattedDate">		
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokDataSprz">
		<xsd:annotation>
			<xsd:documentation>Data sprzeda¿y</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TFormattedDate">		
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokDataKpr">
		<xsd:annotation>
			<xsd:documentation></xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TFormattedDate">		
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokDataZak">
		<xsd:annotation>
			<xsd:documentation>Data zakupu</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TFormattedDate">		
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokDataVat">
		<xsd:annotation>
			<xsd:documentation>Data obowi¹zku podatkowego VAT</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TFormattedDate">		
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokPlat">
		<xsd:annotation>
			<xsd:documentation>Termin p³atnoœci (data), tylko dla RODZ=S lub Z</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TFormattedDate">		
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokKliId">
		<xsd:annotation>
			<xsd:documentation>
				Identyfikator kontrahenta, odes³anie do tagu KONTRAHENCI, obowi¹zkowy dla RODZ=S lub Z
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer" />
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokKliOrigId">
		<xsd:annotation>
			<xsd:documentation>
				Identyfikator kontrahenta, odes³anie do tagu KONTRAHENCI, obowi¹zkowy dla RODZ=S lub Z
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer" />
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokMag">
		<xsd:annotation>
			<xsd:documentation>
				Oznaczenie magazynu (nieobowi¹zkowe)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokMag2">
		<xsd:annotation>
			<xsd:documentation>
				Oznaczenie drugiego magazynu (tylko dla MM)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokWartosc">
		<xsd:annotation>
			<xsd:documentation>
				Wartoœæ w PLN, obowi¹zkowe dla RODZ=S lub Z lub K
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TCommaCurr15" />
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokWartMag">
		<xsd:annotation>
			<xsd:documentation>
				Wartoœæ magazynowa (gdy dokument jest jednoczeœnie sprzeda¿¹ i wydaniem z magazynu)
				Obowi¹zkowe jest podanie co najmniej jednej z kwot: WARTSC i/lub WARTMAG
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TCommaCurr15" />
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokWaluta">
		<xsd:annotation>
			<xsd:documentation>
				3-literowe oznaczenie waluty, jeœli dokument dewizowy albo podany w dewizach i PLN
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokKurs">
		<xsd:annotation>
			<xsd:documentation>
				Kurs waluty. Numeric z max. 8 cyframi po kropce.  
				Dla walut o ma³ej cenie wartoœæ podzielona przez mno¿nik, np. 100 JPY = 3,3913 PLN -> KURS=0.033913
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TCommaCurr8" />
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokWartoscDew">
		<xsd:annotation>
			<xsd:documentation>
				Wartoœæ w dewizach, obowi¹zkowe jeœli okreœlono WALUTA
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TCommaCurr15" />
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokWartMagDew">
		<xsd:annotation>
			<xsd:documentation>
				Wartoœæ magazynowa w dewizach
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TCommaCurr15" />
	</xsd:simpleType>
	
	 <xsd:simpleType name="TDokZaliczka">
		<xsd:annotation>
			<xsd:documentation>
				Typ zaliczki
				‘E’ dla faktury koñcowej (po poprzednich zaliczkach)
					lub zaliczki na 100% wartoœci
					lub zaliczki dope³niaj¹cej do 100% 
				‘A’ dla 1 zaliczkowej
				'B' dla kolejnych zaliczek
				'' Puste (lub brak Tagu) dla innych dokumentów
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1" />
			<xsd:enumeration value="E" />
			<xsd:enumeration value="A" />
			<xsd:enumeration value="B" />
			<xsd:enumeration value="" />			
			<xsd:enumeration value=" " />			
		</xsd:restriction>
	 </xsd:simpleType>
	 
	<xsd:simpleType name="TDokMDPrzedplSumPozNetto">
		<xsd:annotation>
			<xsd:documentation>
				Dla faktur zaliczkowych oraz faktury koñcowej po wczeœniejszych zaliczkach = wartoœæ netto pozycji dokumentu.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TCommaCurr15" />
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokEwiStw">
		<xsd:annotation>
			<xsd:documentation>
				A Zakup zwyk³y
				B Œrodektrwa³y ponad 15000
				C Œrodek trwa³y = 15000
				D Nieruchomoœæ ponad 15000
				E Nieruchomoœæ mniej lub 15000
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1" />
			<xsd:enumeration value="A" />
			<xsd:enumeration value="B" />
			<xsd:enumeration value="C" />
			<xsd:enumeration value="D" />
			<xsd:enumeration value="E" />			
			<xsd:enumeration value="F" />			
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokEwiSpStw">
		<xsd:annotation>
			<xsd:documentation>
				T – jeœli sprzeda¿ œrodka trwa³ego –tylko dla dokumentów sprzeda¿owych czyli DOKRODZ=’S’
				W pozosta³ych przypadkach N lub ‘’

			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1" />
			<xsd:enumeration value="T" />									
			<xsd:enumeration value="N" />			
			<xsd:enumeration value="I" />			
			<xsd:enumeration value=" " />			
		</xsd:restriction>
	</xsd:simpleType>
	
	
	<xsd:simpleType name="TDokEwiZakupDot">
		<xsd:annotation>
			<xsd:documentation>
				
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1" />
			<xsd:enumeration value="A" />
			<xsd:enumeration value="B" />
			<xsd:enumeration value="C" />
			<xsd:enumeration value="D" />
			<xsd:enumeration value="E" />	
			<xsd:enumeration value=" " />	
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokKodOdliczenia">
		<xsd:annotation>
			<xsd:documentation>
				Tryb odliczenia VAT - Proszê o wpisanie kodów i znaczenia + kodu domyœlnego <!-- Do okreœlenie -->
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1" />
			<xsd:enumeration value="A" />
			<xsd:enumeration value="B" />
			<xsd:enumeration value="C" />
			<xsd:enumeration value="D" />
			<xsd:enumeration value="E" />	
			<xsd:enumeration value=" " />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokVatBezOdl">
		<xsd:annotation>
			<xsd:documentation>
				Kwota VAT bez odliczeñ (w PLN), obowi¹zkowa gdy KODODLICZENIA= ‘B’ lub ‘D’
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TCommaCurr15" />
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokVatOdl">
		<xsd:annotation>
			<xsd:documentation>
				Kwota VAT bez odliczeñ (w PLN), obowi¹zkowa gdy KODODLICZENIA= ‘B’ lub ‘D’, jeœli wystêpuje, to VATODL + VATBODL musi równaæ siê kwocie VAT z tagów DET.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TCommaCurr15" />
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokRozrachunek">
		<xsd:annotation>
			<xsd:documentation>
				Znacznik czy dokument wymaga zap³aty. Domyœlnie T
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1" />
			<xsd:enumeration value="T" />
			<xsd:enumeration value="N" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokCzyKpr">
		<xsd:annotation>
			<xsd:documentation>
				Znacznik czy zapis w KPR
				Wartoœæ ‘N’ oznacza, ¿e zapis z VAT lub dokumentu handlowego nie powinien byæ importowany  do KPR.	Domyslnie T
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1" />
			<xsd:enumeration value="T" />
			<xsd:enumeration value="N" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="TDokCzyRyczalt">
		<xsd:annotation>
			<xsd:documentation>
				Znacznik czy zapis w RYCZA£CIE
				Wartoœæ ‘N’ oznacza, ¿e zapis z VAT lub dokumentu handlowego nie powinien byæ importowany  do rycza³tu.	Domyslnie T
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1" />
			<xsd:enumeration value="T" />
			<xsd:enumeration value="N" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="TDokInnyWtorny">
		<xsd:annotation>
			<xsd:documentation>
				Znacznik czy dokument wtórny ma inne wartoœci
				Znacznik wykorzystywane tylko dla zakupów 
				Czyli tagu DOKRODZ=’Z’ oraz DOKUNIA zawierajacego symbole (K,L,M,N) oznacza, ¿e w pliku powinna byæ pozycja z zapisami dokumentu wtórnego i tagiem ORIGIDPIERWOTNEGO=IORIGID tego dokumentu.
				Dla dokumentu wtórnego znacznik INNY_WTORNY nie jest konieczna
				Jeœli INNY_WTORNY=’T’ to podczas importu odpowiedniego typu dokumentu zakupu dane do ewidencji sprzeda¿y pobierane s¹ z dokumentu znalezionego wg . ORIGIDPIERWOTNEGO
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1" />
			<xsd:enumeration value="T" />
			<xsd:enumeration value="N" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokOrigidPierwotnego">
		<xsd:annotation>
			<xsd:documentation>
				Zawiera identyfikator zapisu pierwotnego w ewidencji VAT i ró¿na od 0 tylko dla takich zapisów
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:nonNegativeInteger" />
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokSposobVat">
		<xsd:annotation>
			<xsd:documentation>
				Sposób naliczania VAT:
					N – netto+VAT
					T – brutto w tym VAT
					B – wg struktury zakupu (wtedy VAT=0)
						Np. dla zakupu od osoby fizycznej
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1" />
			<xsd:enumeration value="N" />
			<xsd:enumeration value="T" />
			<xsd:enumeration value="B" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokWplata">
		<xsd:annotation>
			<xsd:documentation>
				Okreœlenie „wp³ata” (znak ‘+’) czy „wyp³ata” (znak ‘-‘).  Obowi¹zkowe dla dokumentów kasowych
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1" />
			<xsd:enumeration value="+" />
			<xsd:enumeration value="-" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokKasa">
		<xsd:annotation>
			<xsd:documentation>
				Okreœlenie kasy lub konta bankowego – dotyczy wy³¹cznie dokumentów kasowych (DOKRODZ=’K’) i jest dla nich obowi¹zkowe.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>	
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokKor">
		<xsd:annotation>
			<xsd:documentation>
				Oznaczenie dokumentu korygowanego – tylko dla rodzajów S lub Z (korekty mog¹ byæ zmniejszaj¹ce 
				lub zwiêkszaj¹ce, odpowiednio z polami WARTOSC, NETTO, VAT itp. ujemnymi lub dodatnimi.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokDataKor">
		<xsd:annotation>
			<xsd:documentation>Data dokumentu korygowanego – tylko dla rodzajów S lub Z</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TFormattedDate">		
		</xsd:restriction>
	</xsd:simpleType>
		
	
	<xsd:simpleType name="TDokDetKind">
		<xsd:annotation>
			<xsd:documentation>
				Mo¿e mieæ wartoœci:
				V – stawki VAT – powinny zawieraæ wartoœci netto, brutto, vat. Suma netto+vat=brutto, sumy brutto z tagów V równe wartoœci dokumentu. Podzia³ na stawki obowi¹zkowy dla RODZ=S lub Z, dla innych nie wystêpuje
				T- podzia³ na towary / us³ugi  - nieu¿ywane
				G- podzia³ na grupy towarowe- nieu¿ywane
				TG – podzia³ na towary/us³ugi oraz grupy- nieu¿ywane
				KPR  -  wartoœci w kolumnach KPR
				RCZ  - podzia³ na zapisy z ró¿nymi % rycza³tu
				Dla dokumentów z RODZ=S lub Z obowi¹zkowy jest podzia³ na stawki VAT (DETKIND=V) z podaniem kwot netto, brutto i vat. 
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3" /> 
			<xsd:enumeration value="V" />			
			<xsd:enumeration value="T" />
			<xsd:enumeration value="G" />
			<xsd:enumeration value="TG" />
			<xsd:enumeration value="K" />
			<xsd:enumeration value="R" />
			<xsd:enumeration value="KPR" />
			<xsd:enumeration value="RCZ" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokStawkaVAT">
		<xsd:annotation>
			<xsd:documentation>
				Wystêpuje (i obowi¹zkowe) gdy DETKIND=V. Zawiera: 22,7,0,ZW,NP., (nie podlega) , 
				NPO (nie podlega, lecz z prawem do odliczenia)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3" /> 
			<xsd:enumeration value="23" />
			<xsd:enumeration value="22" />	
			<xsd:enumeration value="8" />
			<xsd:enumeration value="7" />
			<xsd:enumeration value="6" />
			<xsd:enumeration value="5" />
			<xsd:enumeration value="4" />
			<xsd:enumeration value="3" />
			<xsd:enumeration value="0" />
			<xsd:enumeration value="ZW" />
			<xsd:enumeration value="NP" />
			<xsd:enumeration value="NPO" />
			<xsd:enumeration value="BOD" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokDetOpisKlasyfikacji">
		<xsd:annotation>
			<xsd:documentation>
				Opis klasyfikacji
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="60" />
		</xsd:restriction>
	</xsd:simpleType>
		
	<xsd:simpleType name="TDokTowUsl">
		<xsd:annotation>
			<xsd:documentation>
				Wartoœæ T – towar, U-us³uga. Wystêuje gdy DETKIND=T lub TG – nieu¿ywane
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1" /> 
			<xsd:enumeration value="T" />
			<xsd:enumeration value="U" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokGRAS">
		<xsd:annotation>
			<xsd:documentation>
				Oznaczenie grupy asortymentowej. Wystêuje gdy DETKIND=G lub TG – nieu¿ywane
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20" /> 			
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokNetto">
		<xsd:annotation>
			<xsd:documentation>
				Kwota netto . Wystêpuje tylko w dokumentach z RODZ=S lub Z
				Uwaga. W serii tagów zawieraj¹cej podzia³ kwot wg stawek VAT, czyli z DETKIND=V, wystêpuj¹ kwoty Netto, Brutto oraz VAT (jeœli sa niezerowe). 
				W serii tagów zawieraj¹cej podzia³ wg grup asortymentowych lub tp. wystêpuj¹ zwykle tylko kwoty Netto. Zaleca siê, by zestaw kwot (np Netto tak, Brutto nie) by³ jednakowy dla wszystkich tagów z tym samym DETKIND
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TCommaCurr15" />
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokVat">
		<xsd:annotation>
			<xsd:documentation>
				Kwota vat . Wystêpuje tylko w dokumentach z RODZ=S lub Z
				Uwaga. W serii tagów zawieraj¹cej podzia³ kwot wg stawek VAT, czyli z DETKIND=V, wystêpuj¹ kwoty Netto, Brutto oraz VAT (jeœli sa niezerowe). 
				W serii tagów zawieraj¹cej podzia³ wg grup asortymentowych lub tp. wystêpuj¹ zwykle tylko kwoty Netto. Zaleca siê, by zestaw kwot (np Netto tak, Brutto nie) by³ jednakowy dla wszystkich tagów z tym samym DETKIND
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TCommaCurr15" />
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokBrutto">
		<xsd:annotation>
			<xsd:documentation>
				Kwota brutto . Wystêpuje tylko w dokumentach z RODZ=S lub Z
				Uwaga. W serii tagów zawieraj¹cej podzia³ kwot wg stawek VAT, czyli z DETKIND=V, wystêpuj¹ kwoty Netto, Brutto oraz VAT (jeœli sa niezerowe). 
				W serii tagów zawieraj¹cej podzia³ wg grup asortymentowych lub tp. wystêpuj¹ zwykle tylko kwoty Netto. Zaleca siê, by zestaw kwot (np Netto tak, Brutto nie) by³ jednakowy dla wszystkich tagów z tym samym DETKIND
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TCommaCurr15" />
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokNettoDew">
		<xsd:annotation>
			<xsd:documentation>
				Kwota netto w dewizach. Wystêpuje tylko w dokumentach z RODZ=S lub Z
				Uwaga. W serii tagów zawieraj¹cej podzia³ kwot wg stawek VAT, czyli z DETKIND=V, wystêpuj¹ kwoty Netto, Brutto oraz VAT (jeœli sa niezerowe). 
				W serii tagów zawieraj¹cej podzia³ wg grup asortymentowych lub tp. wystêpuj¹ zwykle tylko kwoty Netto. Zaleca siê, by zestaw kwot (np Netto tak, Brutto nie) by³ jednakowy dla wszystkich tagów z tym samym DETKIND
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TCommaCurr15" />
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokVatDew">
		<xsd:annotation>
			<xsd:documentation>
				Kwota vat w dewizach. Wystêpuje tylko w dokumentach z RODZ=S lub Z
				Uwaga. W serii tagów zawieraj¹cej podzia³ kwot wg stawek VAT, czyli z DETKIND=V, wystêpuj¹ kwoty Netto, Brutto oraz VAT (jeœli sa niezerowe). 
				W serii tagów zawieraj¹cej podzia³ wg grup asortymentowych lub tp. wystêpuj¹ zwykle tylko kwoty Netto. Zaleca siê, by zestaw kwot (np Netto tak, Brutto nie) by³ jednakowy dla wszystkich tagów z tym samym DETKIND
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TCommaCurr15" />
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokBruttoDew">
		<xsd:annotation>
			<xsd:documentation>
				Kwota brutto w dewizach. Wystêpuje tylko w dokumentach z RODZ=S lub Z
				Uwaga. W serii tagów zawieraj¹cej podzia³ kwot wg stawek VAT, czyli z DETKIND=V, wystêpuj¹ kwoty Netto, Brutto oraz VAT (jeœli sa niezerowe). 
				W serii tagów zawieraj¹cej podzia³ wg grup asortymentowych lub tp. wystêpuj¹ zwykle tylko kwoty Netto. Zaleca siê, by zestaw kwot (np Netto tak, Brutto nie) by³ jednakowy dla wszystkich tagów z tym samym DETKIND
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TCommaCurr15" />
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokKolumna">
		<xsd:annotation>
			<xsd:documentation>
				Numer kolumny w zapisie KPR
				7 lub 8 dla sprzeda¿y
				10,11,12,13 lub 15 - zakupy
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:enumeration value="7" />
			<xsd:enumeration value="8" />
			<xsd:enumeration value="10" />
			<xsd:enumeration value="11" />
			<xsd:enumeration value="12" />
			<xsd:enumeration value="13" />
			<xsd:enumeration value="15" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokKlasyfikacja">
		<xsd:annotation>
			<xsd:documentation>
				Opis klasyfikacji
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="60" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TDokProcent">
		<xsd:annotation>
			<xsd:documentation>
				% rycza³tu zapisu
				dopuszczalne wartoœci: 3,5, 8,10,17,20
				wartoœæ 8 oznacza zapis dla stawki 8,5 %
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:enumeration value="3" />
			<xsd:enumeration value="5" />
			<xsd:enumeration value="8" />
			<xsd:enumeration value="10" />
			<xsd:enumeration value="17" />
			<xsd:enumeration value="20" />
		</xsd:restriction>
	</xsd:simpleType>
	
</xsd:schema>